* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.top {
  flex-grow: 1;
}

.header {
  background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 376px;
}

.header__topline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header__content {
  width: 100%;
}

.header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 12px;
  font-size: 32px;
  font-weight: 300;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.04em;
}

.header__text {
  font-size: 16px;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 26px;
  opacity: 60%;
}

.logo {
  height: 38px;
}

.logo__link {
  padding: 8px 0;
  display: inline-block;
}

.logo_header {
  margin: 16px;
}

.address-book {
  height: 38px;
  margin: 21px;
  justify-self: flex-end;
}

.address-book__link {
  display: inline-block;
}

.button {
  margin: 32px;
  padding: 5px 10px;
  align-self: center;
  border-radius: 20px;
  background-color: #5A98D0;
  font-size: 12px;
  color: #ffffff;
}

.row {
  justify-content: space-around;
}

.content {
  padding: 48px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__header {
  width: 100%;
}

.content__title {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.content__box {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 10px 30px;
}

.content__img {
  width: 240px;
  height: 200px;
  margin: 13px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.content__img_1 {
  background-position-x: 10px;
  background-image: url("../img/content_1.png");
}

.content__img_2 {
  background-image: url("../img/content_2.1.png"), url("../img/content_2.2.png");
}

.content__img_3 {
  background-position-x: 25px;
  background-image: url("../img/content_3.png");
}

.content__name {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.content__text {
  margin: 14px 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.content__link {
  justify-self: flex-end;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.projects {
  padding: 32px 14px;
  /*
    &__name {
        position: absolute;
        top: 16px;
        left: 16px;

        &_right {
            right: 16px;
        }
    }
*/
}

.projects__title {
  margin: 32px 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.projects__text {
  margin-bottom: 82px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
}

.projects__name {
  position: absolute;
  font-weight: normal;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.projects__name_right {
  text-align: right;
}

.projects__box {
  width: 100%;
  max-width: 1140px;
  position: relative;
  margin-bottom: 16px;
}

.projects__box_2 {
  border-radius: 10px;
}

.projects__img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */