* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 320px;
  padding: 0 calc(50% - 570px);
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.header {
  background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 376px;
}

.header__topline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header__content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.header__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__title {
  margin: 12px;
  font-size: 32px;
  font-weight: 300;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.04em;
}

.header__text {
  font-size: 16px;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 26px;
  opacity: 60%;
}

.logo {
  height: 38px;
}

.logo__link {
  padding: 8px 0;
  display: inline-block;
}

.logo_header {
  margin: 16px;
}

.address-book {
  height: 38px;
  margin: 19px;
  margin-top: 21px;
  justify-self: flex-end;
}

.address-book__link {
  display: inline-block;
}

.button {
  margin: 32px;
  margin-top: 27px;
  padding: 6px 12px;
  align-self: center;
  background-color: #5A98D0;
  font-size: 12px;
  color: #ffffff;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.row {
  justify-content: space-around;
}

.content {
  padding: 48px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__header {
  width: 100%;
}

.content__title {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.content__box {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 10px 30px;
}

.content__img {
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content__img_1 {
  background-position: 26px 27px;
  background-image: url(../img/content_1.png);
}

.content__img_1-1 {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.content__img_2 {
  background-position: 28px -7px;
  background-image: url(../img/content_2.1.png);
}

.content__img_2-1 {
  background-position: 78px 31px;
  background-image: url(../img/content_2.2.png);
}

.content__img_3 {
  background-position-x: 25px;
  background-image: url("../img/content_3.png");
}

.content__img_3-1 {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.content__name {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.content__text {
  margin: 5px 0;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.content__link {
  justify-self: flex-end;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  margin: 5px 0;
}

.projects {
  padding: 32px 14px;
  /*
    &__name {
        position: absolute;
        top: 16px;
        left: 16px;

        &_right {
            right: 16px;
        }
    }
*/
}

.projects__title {
  margin: 5px 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.projects__text {
  margin-bottom: 82px;
  margin-top: 27px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
}

.projects__name {
  position: absolute;
  font-weight: normal;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.projects__name_right {
  text-align: right;
}

.projects__box {
  width: 100%;
  max-width: 1140px;
  position: relative;
  margin-bottom: 10px;
}

.projects__box_2 {
  border-radius: 10px;
}

.projects__img {
  width: 100%;
}

.footer {
  margin-top: 12px;
  background-color: #316099;
}

.footer__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 18px;
  padding-bottom: 8px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  width: 65%;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

.footer__text {
  font-size: 16px;
  margin-top: 25px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer__button {
  margin: 33px auto;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #5A98D0;
  padding: 3px 0px;
}

.footer__contacts {
  padding: 16px;
  margin: 8px 0;
}

.footer__text-contacts {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 8.5px 0;
}

.footer__copyright {
  margin-top: 7px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .header {
    padding: 47px 32px;
    padding-right: 34.56px;
  }
  .header__content {
    padding: 0;
  }
  .header__title {
    margin-top: 112px;
    margin-left: 0;
    text-align: left;
    font-size: 64px;
    letter-spacing: 0.04em;
  }
  .header__img {
    width: 336px;
    height: 292.13px;
    background-image: url("../img/hero.png");
    bottom: 60px;
  }
  .header__text {
    width: 425px;
    margin-top: 32px;
    text-align: left;
  }
  .button {
    align-self: flex-start;
    margin: 0;
    margin-top: 72px;
    margin-bottom: 143px;
    padding: 15px 50px;
    font-size: 16px;
  }
  .content {
    padding: 64px 32px;
  }
  .content__title {
    font-size: 36px;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
  }
  .projects {
    padding: 64px 32px;
  }
  .projects__title {
    font-size: 36px;
  }
  .projects__text {
    margin: 32px auto;
    margin-bottom: 64px;
    width: 75%;
  }
  .projects__name {
    font-size: 28px;
    line-height: 46px;
    top: 19px;
    left: 19px;
  }
  .projects__name_right {
    font-size: 32px;
    right: 64px;
    left: auto;
    top: 64px;
  }
}
/*# sourceMappingURL=style.css.map */