* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 320px;
  padding: 0 calc(50% - 570px);
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.header {
  background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 376px;
  padding: 16px;
}

.header__topline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header__content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
}

.header__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__title {
  margin: 12px;
  font-size: 32px;
  font-weight: 300;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.04em;
}

.header__text {
  font-size: 16px;
  color: #1f3f68;
  text-align: center;
  letter-spacing: 0.045em;
  line-height: 26px;
  opacity: 60%;
}

.logo__link {
  padding: 8px 0;
  display: inline-block;
}

.logo_header {
  margin: 0;
}

.address-book {
  height: 38px;
  margin: 0;
  margin-top: 5px;
  justify-self: flex-end;
}

.address-book__link {
  display: inline-block;
}

.button {
  margin-top: 22px;
  padding: 7px 12px;
  align-self: center;
  background-color: #5A98D0;
  font-size: 12px;
  color: #ffffff;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.row {
  justify-content: space-around;
}

.content {
  padding: 47px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__header {
  width: 100%;
}

.content__title {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.content__box {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 10px 30px;
}

.content__img {
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content__img_1 {
  background-position: 26px 27px;
  background-image: url(../img/content_1.png);
}

.content__img_1-1 {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.content__img_2 {
  background-position: 28px -7px;
  background-image: url(../img/content_2.1.png);
}

.content__img_2-1 {
  background-position: 78px 31px;
  background-image: url(../img/content_2.2.png);
}

.content__img_3 {
  background-position-x: 25px;
  background-image: url("../img/content_3.png");
}

.content__img_3-1 {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.content__name {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.content__text {
  margin: 5px 0;
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.content__link {
  justify-self: flex-end;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  margin: 5px 0;
}

.projects {
  padding: 32px 14px;
  /*
    &__name {
        position: absolute;
        top: 16px;
        left: 16px;

        &_right {
            right: 16px;
        }
    }
*/
}

.projects__title {
  margin: 5px 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.projects__text {
  margin-bottom: 82px;
  margin-top: 27px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
}

.projects__name {
  position: absolute;
  font-weight: normal;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.projects__name_right {
  text-align: right;
}

.projects__box {
  width: 100%;
  max-width: 1140px;
  position: relative;
  margin-bottom: 10px;
}

.projects__box_2 {
  border-radius: 10px;
}

.projects__img {
  width: 100%;
}

.footer {
  margin-top: 12px;
  background-color: #316099;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 18px;
  padding-bottom: 8px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  width: 65%;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

.footer__text {
  font-size: 16px;
  margin-top: 25px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer__button {
  width: 108px;
  margin: 33px auto;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #5A98D0;
  padding: 3px 0px;
}

.footer__contacts {
  padding: 16px;
  margin: 8px 0;
}

.footer__box {
  display: flex;
  flex-basis: 33.33333%;
}

.footer__text-contacts {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 8.5px 0;
  margin-right: 19px;
}

.footer__copyright {
  margin-top: 7px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

.contacts__topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 16px;
}

.contacts__hero {
  background-image: url("../img/contacts_hero.png");
  min-height: 250px;
  background-position: -541px center;
  background-repeat: no-repeat;
  margin-top: 23px;
  padding: 48px 17px;
}

.contacts__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.contacts__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 32px;
  margin-bottom: 13px;
}

.menu-box {
  justify-self: flex-end;
}

.content__img {
  height: 181px;
  background-image: url("../img/contacts_img.png");
}

@media (min-width: 768px) {
  .header {
    padding: 47px 32px;
    padding-right: 34.56px;
  }
  .header__content {
    padding: 0;
  }
  .header__title {
    margin-top: 118px;
    margin-left: 0;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
  }
  .header__img {
    width: 336px;
    height: 299px;
    background-image: url(../img/hero.png);
    bottom: 64px;
    right: -3px;
  }
  .header__text {
    width: 425px;
    margin-top: 19px;
    text-align: left;
  }
  .button {
    align-self: flex-start;
    margin: 0;
    margin-top: 76px;
    margin-bottom: 144px;
    padding: 18px 49px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .content {
    padding: 64px 32px;
  }
  .content__title {
    font-size: 36px;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
  }
  .projects {
    padding: 64px 32px;
  }
  .projects__title {
    font-size: 36px;
  }
  .projects__text {
    margin: 32px auto;
    margin-bottom: 64px;
    width: 75%;
  }
  .projects__name {
    font-size: 28px;
    line-height: 46px;
    top: 19px;
    left: 19px;
    letter-spacing: 0.05em;
  }
  .projects__name_right {
    font-size: 32px;
    right: 57px;
    left: auto;
    top: 64px;
  }
  .projects__box {
    margin-bottom: 28px;
  }
  .footer__top {
    padding: 47px 109px;
    flex-direction: row;
  }
  .footer__content {
    width: 63%;
  }
  .footer__title {
    width: 100%;
    text-align: left;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin-left: 32px;
  }
  .footer__text {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 21px;
    /* margin-right: 33px; */
    margin-left: 15px;
  }
  .footer__button {
    align-self: flex-start;
    margin-top: 113px;
    margin-left: 56px;
    width: 132px;
  }
  .footer__contacts {
    padding: 48px 124px;
  }
  .footer__text-contacts {
    margin: 12px 0px;
    margin-right: 36px;
  }
  .footer__text-contacts_last {
    margin-right: 0;
  }
  .footer__copyright {
    padding: 0 0 64px 124px;
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: 1155px) {
  .wrapper {
    padding: 0 calc(50% - 683px);
  }
  .header {
    padding: 34px 113px;
  }
  .header__title {
    margin-top: 112px;
  }
  .header__img {
    background-image: url(../img/hero_big.png);
    width: 554px;
    height: 482px;
    bottom: 56px;
    right: 0;
  }
  .content {
    padding: 78px 32px;
    padding-bottom: 0px;
  }
  .projects {
    padding: 62px 113px;
  }
  .projects__title {
    letter-spacing: 0.05em;
  }
  .projects__text {
    width: 68%;
  }
  .projects__name {
    top: 30px;
    left: 32px;
  }
  .projects__name_right {
    top: 64px;
    right: 60px;
    left: auto;
  }
  .footer__top {
    padding: 93px 113px;
    padding-bottom: 62px;
  }
  .footer__content {
    width: 50%;
  }
  .footer__title {
    margin: 0;
    padding-right: 185px;
  }
  .footer__text {
    margin: 32px 0;
  }
  .footer__text-contacts {
    margin-right: 25px;
    line-height: 26px;
  }
  .footer__button {
    width: 236px;
    height: 56px;
    display: flex;
    padding: 15px 80px;
    margin: 0;
    margin-left: 332px;
    margin-bottom: 37px;
    align-self: center;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    padding: 44px 113px;
  }
  .footer__box {
    display: flex;
    flex-basis: 33.33333%;
  }
  .footer__copyright {
    letter-spacing: 0.05em;
    padding-left: 113px;
    margin: 0;
  }
  .footer__afrianska:after {
    content: "Afrianska.";
  }
}
/*# sourceMappingURL=style.css.map */