.header {
    padding: 47px 32px;
    padding-right: 34.56px;

    &__content {
        padding: 0;
    }

    &__title {
        margin-top: 118px;
        margin-left: 0;
        text-align: left;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
    }

    &__img {
        width: 336px;
        height: 299px;
        background-image: url(../img/hero.png);
        bottom: 64px;
        right: -3px;
    }

    &__text {
        width: 425px;
        margin-top: 19px;
        text-align: left;
    }

}

.button {
    align-self: flex-start;
    margin: 0;
    margin-top: 76px;
    margin-bottom: 144px;
    padding: 18px 49px;
    font-size: 16px;
    letter-spacing: 0.04em;
}

.content {
    padding: 64px 32px;

    &__title {
        font-size: 36px;
        letter-spacing: 0.05em;
        margin-bottom: 32px;
    }
}

.projects {
    padding: 64px 32px;

    &__title {
        font-size: 36px;

    }

    &__text {
        margin: 32px auto;
        margin-bottom: 64px;
        width: 75%;
    }

    &__name {
        font-size: 28px;
        line-height: 46px;
        top: 19px;
        left: 19px;
        letter-spacing: 0.05em;

        &_right {
            font-size: 32px;
            right: 57px;
            left: auto;
            top: 64px;

        }
    }

    &__box {
        margin-bottom: 28px;
    }
}

.footer {
    &__top {
        padding: 47px 109px;
        flex-direction: row;
    }

    &__content {
        width: 63%;
    }

    &__title {
        width: 100%;
        text-align: left;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;

        margin-left: 32px;
    }

    &__text {
        text-align: left;
        margin-bottom: 10px;
        margin-top: 21px;
        /* margin-right: 33px; */
        margin-left: 15px;
    }

    &__button {
        align-self: flex-start;
        margin-top: 113px;
        margin-left: 56px;
        width: 132px;
    }

    &__contacts {
        padding: 48px 124px;
    }

    // &__box {}

    &__text-contacts {
        margin: 12px 0px;
        margin-right: 36px;

        &_last {
            margin-right: 0;
        }
    }

    &__copyright {
        padding: 0 0 64px 124px;
        text-align: left;
    }
}