.wrapper {
    padding: 0 calc(50% - 683px);
}

.header {
    padding: 34px 113px;

    &__title {
        margin-top: 112px;
    }

    &__img {
        background-image: url(../img/hero_big.png);
        width: 554px;
        height: 482px;
        bottom: 56px;
        right: 0;
    }
}

.content {
    padding: 78px 32px;
    padding-bottom: 0px;
}

.projects {
    padding: 62px 113px;

    &__title {
        letter-spacing: 0.05em;
    }

    &__text {
        width: 68%;
    }

    &__name {
        top: 30px;
        left: 32px;

        &_right {
            top: 64px;
            right: 60px;
            left: auto;
        }
    }
}

.footer {

    &__top {
        padding: 93px 113px;
        padding-bottom: 62px;
    }

    &__content {
        width: 50%;
    }

    &__title {
        margin: 0;
        padding-right: 185px;
    }

    &__text {
        margin: 32px 0;
    }

    &__text-contacts {
        margin-right: 25px;
        line-height: 26px;
    }

    &__button {
        width: 236px;
        height: 56px;
        display: flex;
        padding: 15px 80px;
        margin: 0;
        margin-left: 332px;
        margin-bottom: 37px;
        align-self: center;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        padding: 44px 113px;
    }

    &__box {
        display: flex;
        flex-basis: 33.33333%;

    }

    &__copyright {
        letter-spacing: 0.05em;
        padding-left: 113px;
        margin: 0;
    }

    &__afrianska:after {
        content: "Afrianska."
    }
}